<div id="bg">
    <h2>{{title}}</h2>
    <p>Click on the movies to check the showtimes!!</p>
</div>
<div class="movieList">
{{#each movieTitle}}
<ul>
    <li><img src="{{image}}" /></li>
    <li>{{title}}</li>
    <a href=>See More...</a>



</ul>
{{/each}}
</div>

